.navheader {
  display: flex;
  justify-content: flex-end; /* Align to the right */
  align-items: center;
  font-size: 1.8rem; /* Slightly smaller font size for better spacing */
  background-color: #1e3a8a; /* Deep blue color for the background */
  padding: 1rem 2rem; /* Add padding for better spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.navheader > a {
  margin: 0 1rem; 
  text-decoration: none;
  /* border: 0.1rem solid transparent; 
  border-radius: 0.5rem;  */
  padding: 0.5rem 1rem; 
  color: #f1f5f9; 
}

.navheader  a.active-btn {
  background-color: #2563eb; 
  border: 0.1rem solid #f1f5f9; 
  color: #ffffff;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}